* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.layout {
  text-align: center;
  display: grid;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 3fr;
}

.menu-btn-container{
    grid-column: 1 /2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.15);
}

.header {
grid-column: 2 / 3 ;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.menu-btn {
    width: 70%;
    cursor: pointer;
}

.menu {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 300ms ease;
    transform: translateX(-100%);
}

.menu-show {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 300ms ease;
    transform: translateX(0%);
}

.item {
    border-bottom: solid 1px black;
    width: 70%;
}

.item-gone{
    display: none;
}
